{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Lists</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        Hello, {{ user.username }}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %}">Sign up</a>
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for x in account_list %}
                <tr>
                    <td>{{ x.name }}</td>
                    <td>{{ x.number }}</td>
                    <td>{{ x.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
